.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* top-bottom & left-right  */
  grid-gap: 0 1px;
  /* height / 10 */
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
}
